<nav class="navbar navbar-expand-md navbar-light">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img class="logo" src="../../../assets/images/logo.svg" alt="Shortly logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mobileToggleContent"
      aria-controls="mobileToggleContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon link-decoration"></span>
    </button>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link link-decoration" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-decoration" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-decoration" href="#">Resources</a>
        </li>
      </ul>
      <div class="d-flex">
        <a class="nav-link link-decoration" href="#">Login</a>
        <button class="btn btn-custom rounded-pill">Sign Up</button>
      </div>
    </div>
  </div>
</nav>

<!-- Mobile toggle -->
<div class="container collapse d-md-none d-lg-none d-xl-none" id="mobileToggleContent">
  <div class="mobile-content-container rounded-3 p-4">
    <div class="text-center pb-3">
      <a class="mobile-link-decoration" href="#">Features</a>
    </div>
    <div class="text-center pb-3">
      <a class="mobile-link-decoration" href="#">Pricing</a>
    </div>
    <div class="text-center pb-1">
      <a class="mobile-link-decoration" href="#">Resources</a>
    </div>
    <hr style="color: white;">
    <div class="text-center pb-3">
      <a class="mobile-link-decoration" href="#">Login</a>
    </div>
    <div class="text-center d-grid pb-3">
      <button class="btn btn-custom rounded-pill">Sign Up</button>
    </div>
  </div>
</div>
