<div class="container">
  <div class="row">
    <div class="col col-md-7 align-self-center">
      <div class="row main">
        <h1 class="main-title">More than just shorter links</h1>
      </div>
      <div class="row main">
        <p class="main-subtitle">Build your brand's recognition and get detailed insights on how your links are
          performing.</p>
      </div>
      <div class="main">
        <button class="btn btn-custom btn-lg rounded-pill">Get Started</button>
      </div>
    </div>
    <div class="col col-md-5 illustration-order">
      <img class="illustration" src="../../../assets/images/illustration-working.svg" alt="langing illustration">
    </div>
  </div>
  <div class="row">
    Form data, position here will be absolute
  </div>
</div>
<div class="bottom-design">
  <div class="container">
    <div class="row justify-content-center pb-2">
      <h4 class="text-center" style="font-weight: 700;">Boost your links today</h4>
    </div>
    <div class="row justify-content-center d-grid">
      <button class="btn btn-custom rounded-pill">Get Started</button>
    </div>
  </div>
</div>
