<div class="container p-5 position-relative">
  <div class="row pb-5">
    <div class="col col-md-7 align-self-center">
      <div class="row main">
        <h1 class="main-title">More than just shorter links</h1>
      </div>
      <div class="row main">
        <p class="main-subtitle">Build your brand's recognition and get detailed insights on how your links are
          performing.</p>
      </div>
      <div class="main">
        <button class="btn btn-custom btn-lg rounded-pill">Get Started</button>
      </div>
    </div>
    <div class="col col-md-5 illustration-order">
      <img class="illustration" src="../../../assets/images/illustration-working.svg" alt="langing illustration">
    </div>
  </div>
  <div class="form-container">
    <form class="was-validated row justify-content-center form-design p-3 pt-4 pb-4 p-md-5">
      <div class="col-12 col-md-8 align-self-center main">
        <input type="text" class="form-control form-control-lg" placeholder="Shorten a link here..." required>
        <div class="invalid-feedback fst-italic">
          Please add a link
        </div>
      </div>
      <div class="col-12 col-md-2 display-cover">
        <button type="submit" class="btn btn-lg btn-custom">Shorten it!</button>
      </div>
    </form>
  </div>
</div>

<div class="middle-design">
  <div class="container p-5">
    <div class="row p-3 justify-content-center align-items-center rounded-3 shortened-link-container">
      <div class="col">
        <span class="float-start pb-3 pb-md-0">
          Shortened links here left Shortened links here left
        </span>
        <span class="float-start float-md-end pb-1 pb-md-0 shortened-link">
          Shortened links here right
        </span>
      </div>
      <div class="col-2 display-cover">
        <button class="btn btn-custom">Copy</button>
      </div>
    </div>
    <div class="row pt-5 text-center">
      <h4 class="middle-subtitle">Advanced Statistics</h4>
    </div>
    <div class="row justify-content-center">
      <p class="col col-lg-5 text-center middle-text">Track how your links are performing across the web with our
        advanced statistics dashboard.</p>
    </div>
    <div class="row position-relative" style="padding-top: 6rem">
      <div class="card-line-design">
        <div class="card-line-style">
        </div>
      </div>
      <div class="col-12 col-md-4 card-padding">
        <div class="card p-3 pt-5 rounded-3 position-relative">
          <div class="card-image-design rounded-circle">
            <img src="../../../assets/images/icon-brand-recognition.svg" alt="Brand Recognition icon">
          </div>
          <div class="card-body pt-4">
            <h5 class="card-title pb-2">Brand Recognition</h5>
            <p class="card-text middle-text">Boost your brand recognition with each click. Generic links don't mean a
              thing.
              Branded links help instil confidence in your content.
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 card-padding card-2-position">
        <div class="card p-3 pt-5 rounded-3 position-relative">
          <div class="card-image-design rounded-circle">
            <img src="../../../assets/images/icon-detailed-records.svg" alt="Detailed Records icon">
          </div>
          <div class="card-body pt-4">
            <h5 class="card-title pb-2">Detailed Records</h5>
            <p class="card-text middle-text">Gain insights into who is clicking your links. Knowing when and where
              people engage
              with your content helps inform better decisions.
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 card-padding card-3-position">
        <div class="card p-3 pt-5 rounded-3 position-relative">
          <div class="card-image-design rounded-circle">
            <img src="../../../assets/images/icon-fully-customizable.svg" alt="Fully Customizable icon">
          </div>
          <div class="card-body pt-4">
            <h5 class="card-title pb-2">Fully Customizable</h5>
            <p class="card-text middle-text">Improve brand awareness and content discoverability through customization
              links,
              supercharging audience engagement.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bottom-design">
  <div class="container p-5">
    <div class="row justify-content-center pb-2">
      <h4 class="text-center" style="font-weight: 700;">Boost your links today</h4>
    </div>
    <div class="row justify-content-center d-grid">
      <button class="btn btn-custom rounded-pill">Get Started</button>
    </div>
  </div>
</div>
